.category {
    margin: 0 !important;
}

.key-dot {
    display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;
}

.legends {
    float:left;
    margin-right: 1em;
}

.logo-infometrix {
    height: 75px !important;
    width: 100% !important;
    margin: 0%;
    padding-top: 12.5px !important;
    padding-bottom: 12.5px !important;
}